<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>영화 검색 결과</title>

</head>
<body>
<div th:replace="~{top::menu}"></div>

<div class="container">
    <h2>영화 검색 결과</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>영화번호</th>
            <th>영화제목</th>
            <th>등록일자</th>
            <th>영화가격</th>
            <th>조회수</th>
            <th>수정</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="mo : ${list}">
            <td>
                <a th:href="@{/detail(number=${mo.mbunho})}"
                   th:text="${mo.mtitle}"></a>
            </td>
            <td th:text="${mo.mdate}"></td>
            <td th:text="${#numbers.formatInteger(mo.mprice, 3, 'COMMA') + '원'}"></td>
            <td th:text="${mo.mreadcount}"></td>
            <td>
                <a th:href="@{/update(number=${mo.mbunho})}">수정</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
